body{
    background-color: rgb(0, 0, 0);
    color: rgb(81, 240, 8);

    font-size: 20px;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    
}
a{color: rgb(182, 230, 11);
    text-decoration: none;

}
a:hover{ text-decoration: underline;}
a:active{color: rgb(230, 78, 7);}

.images{
  width: 150px;
  border-radius: 10px;
  box-shadow: 8px 8px 20px rgb(235, 235, 9);
}
    
.info p{
     color: rgb(144, 194, 28);
    margin: 0;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    /* text-transform: ; */
    /* letter-spacing: ; */
    word-spacing: 5px

}
 .info{margin-bottom: 20px;}

    /* Box model */
    .container{ 
        max-width: 750px;
        margin: auto;
    }

    @media (max-width: 700px;) {
    .info {
    display: block;
    }
}
.social{
    background: rgb(250, 0, 0);
    padding:15px 20px;
    
    border: 9px solid rgb(109, 248, 16);
    border-right-color:red ;
    margin: 30px;



 }
.table{margin-bottom: 20px;}
.table{ width: 95%;}
.table{text-align: center;}
.btn{ 
    color: rgb(0, 0, 0);
    padding: 5px;
    cursor: pointer;
}